<svg viewBox="0 0 100 100">
  <defs>
    <linearGradient id="temp-sq-dial-metalic" x1="0" y1="1" x2="1" y2="0">
      <stop offset="0%" stop-color="#888"></stop>
      <stop offset="50%" stop-color="#def"></stop>
      <stop offset="100%" stop-color="#888"></stop>
    </linearGradient>
    <filter id="temp-sq-dial-drop-shadow" width="1.5" height="1.5">
      <feOffset in="SourceAlpha" result="offOut" dx="1" dy="1"></feOffset>
      <feGaussianBlur in="offOut" result="blurOut" stdDeviation="1"></feGaussianBlur>
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend>
    </filter>

    <filter id="temp-sq-dial-inner-shadow" x0="-0.5" y0="-0.5" width="1.25" height="1.25">
      <feGaussianBlur in="SourceAlpha" stdDeviation="2" result="blur"></feGaussianBlur>
      <feOffset dx="3" dy="2"></feOffset>
      <feComposite in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
      <feFlood flood-color="#444" flood-opacity="0.75"></feFlood>
      <feComposite in2="shadowDiff" operator="in"></feComposite>
      <feComposite in2="SourceGraphic" operator="over" result="firstFilter"></feComposite>
      <feGaussianBlur in="firstFilter" stdDeviation="2" result="blur2"></feGaussianBlur>
      <feOffset dx="-3" dy="-2"></feOffset>
      <feComposite in2="firstFilter" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
      <feFlood flood-color="#444" flood-opacity="0.75"></feFlood>
      <feComposite in2="shadowDiff" operator="in"></feComposite>
      <feComposite in2="firstFilter" operator="over"></feComposite>
    </filter>

    <filter id="temp-sq-dial-glass-blur">
      <feGaussianBlur stdDeviation="1.75"></feGaussianBlur>
    </filter>

    <linearGradient id="temp-sq-vis-gradient" x1="0" y1="0" x2="0" y2="1">
      <stop offset="0%" stop-color="#ccc"></stop>
      <stop offset="35%" stop-color="#fff"></stop>
      <stop offset="100%" stop-color="#aaa"></stop>
    </linearGradient>

    <filter id="temp-sq-dial-glass-blur">
      <feGaussianBlur stdDeviation="1.75" />
    </filter>

    <rect id="temp-sq-dial-vis" x="-45" y="-45" width="90" height="90" ry="3" rx="3"></rect>
    <clipPath id="temp-sq-dial-clip">
      <use href="#temp-sq-dial-vis"></use>
    </clipPath>

    <text id="temp-sq-deg-c" x="-34" text-anchor="start" font-size="6">&deg;C</text>
    <text id="temp-sq-deg-f" x="34" text-anchor="end" font-size="6">&deg;F</text>

  </defs>
  <g transform="translate(50 50)" font-family="tahoma" dominant-baseline="middle" text-anchor="middle" font-size="9" dominant-baseline="middle">
    <rect x="-48" y="-48" width="96" height="96" ry="3" rx="3" fill="url(#temp-sq-dial-metalic)" filter="url(#temp-sq-dial-drop-shadow)"></rect>
    <use href="#temp-sq-dial-vis" fill="url(#temp-sq-vis-gradient)" filter="url(#temp-sq-dial-inner-shadow)"></use>
    <g clip-path="url(#temp-sq-dial-clip)">
      <!-- scale -->
      <!-- going to let angular generate more of this one -->
      <line y1="-50" y2="50" stroke="black" stroke-width=".6"></line>
      <g text-anchor="end">
        <ng-container *ngFor="let c of celsius; index">
          <g attr.transform="translate(0, {{c.shift}})">
            <use href="#temp-sq-deg-c" y="11.25" />
            <text x="-12">{{ c.text | number: '2.0-0' }}</text>
            <text x="-48" font-size="6" transform="translate(0 5)">&deg;C</text>
            <path d="M0 0 h-8 m8 -4.5 h-4 m4 -4.5 h-4 m4 -4.5 h-4 m4 -4.5 h-4" stroke="black" stroke-width="1" />
          </g>
        </ng-container>
      </g>
      <g text-anchor="start">
        <ng-container *ngFor="let f of farenheit">
          <g attr.transform="translate(0, {{f.shift}})">
            <use href="#temp-sq-deg-f" y="12.5" />
            <text x="12">{{ f.text | number: '2.0-0'}}</text>
            <path d="M0 0 h8 m-8 -2.5 h4 m-4 -2.5 h4 m-4 -2.5 h4 m-4 -2.5 h4 m-4 -2.5 h6 m-6 -2.5 h4 m-4 -2.5 h4 m-4 -2.5 h4 m-4 -2.5 h4"
              stroke="black" stroke-width="1" />
          </g>
        </ng-container>
      </g>
      <line x1="-44" x2="44" stroke="red" stroke-width=".6"></line>
    </g>
    <use href="#temp-sq-dial-vis" fill="url(#temp-sq-dial-glass-blur)" opacity=".4" stoke="black" stroke-width=".5"></use>
  </g>
</svg>
