<nav class="navbar navbar-light navbar-expand-sm bg-light">
  <a routerLink="/" class="navbar-brand">{{ title }}</a>
  <ul class="navbar-nav">
    <li class="nav-item" ngbDropdown>
      <a class="nav-link" ngbDropdownToggle>
        Components
      </a>
      <div ngbDropdownMenu>
        <a routerLink="/celsius" routerLinkActive="active" class="dropdown-item" href="#">Celsius Dial</a>
        <a routerLink="/farenheit" routerLinkActive="active" class="dropdown-item" href="#">Farenheit Dial</a>
        <a routerLink="/humidity" routerLinkActive="active" class="dropdown-item" href="#">Humidity Dial</a>
        <a routerLink="/wind" routerLinkActive="active" class="dropdown-item" href="#">Wind Dial</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
