<div class="row no-gutters pt-2 pb-2">
  <div class="col-lg-4 col-md-4 col-sm-6 pr-2">
    <div class="card">
      <div class="card-body">
        <wg-wind-dial [direction]="direction" [speed]="speed" [units]="'MPH'"></wg-wind-dial>
      </div>
      <div class="card-footer p-1">
        <label>Direction</label>
        <input class="w-100" type="range" min="0" max="360" [(ngModel)]="direction">
        <label>Speed</label>
        <input class="w-100" type="range" min="0" max="140" [(ngModel)]="speed">
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-6 pl-2">
    <div class="card">
      <div class="card-header">
        <b>wg-wind-dial</b>
      </div>
      <pre class="language-html card-body"><code class="language-html" [innerHTML]="demo"></code></pre>
      <div class="card-footer">
        Effective Compass Range: 0 to 360&deg;
        <br> Effective Speed Range: 0 to 9999.9
      </div>
    </div>
  </div>
</div>
