<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="farenheit-dial-metalic" x1="0" y1="1" x2="1" y2="0">
      <stop offset="0%" stop-color="#888"></stop>
      <stop offset="50%" stop-color="#def"></stop>
      <stop offset="100%" stop-color="#888"></stop>
    </linearGradient>

    <filter id="farenheit-dial-drop-shadow" width="1.5" height="1.5">
      <feOffset in="SourceAlpha" result="offOut" dx="1" dy="1"></feOffset>
      <feGaussianBlur in="offOut" result="blurOut" stdDeviation="1"></feGaussianBlur>
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend>
    </filter>

    <filter id="farenheit-dial-inner-shadow" x0="-0.5" y0="-0.5" width="1.25" height="1.25">
      <feGaussianBlur in="SourceAlpha" stdDeviation="2" result="blur"></feGaussianBlur>
      <feOffset dx="3" dy="2"></feOffset>
      <feComposite in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
      <feFlood flood-color="#444" flood-opacity="0.75"></feFlood>
      <feComposite in2="shadowDiff" operator="in"></feComposite>
      <feComposite in2="SourceGraphic" operator="over" result="firstFilter"></feComposite>
      <feGaussianBlur in="firstFilter" stdDeviation="2" result="blur2"></feGaussianBlur>
      <feOffset dx="-3" dy="-2"></feOffset>
      <feComposite in2="firstFilter" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
      <feFlood flood-color="#444" flood-opacity="0.75"></feFlood>
      <feComposite in2="shadowDiff" operator="in"></feComposite>
      <feComposite in2="firstFilter" operator="over"></feComposite>
    </filter>

    <filter id="farenheit-dial-glass-blur">
      <feGaussianBlur stdDeviation="1.75"></feGaussianBlur>
    </filter>
    <clipPath id="farenheit-dial-glass-clip">
      <circle r="43"></circle>
    </clipPath>

    <g id="farenheit-dial-ticks">
      <line y1="-44" y2="-39" stroke-width=".7" stroke="black"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(1.4)"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(2.8)"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(4.2)"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(5.6)"></line>
      <line y1="-44" y2="-40" stroke-width=".5" stroke="black" transform="rotate(7)"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(8.4)"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(9.8)"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(11.2)"></line>
      <line y1="-44" y2="-41" stroke-width=".5" stroke="black" transform="rotate(12.6)"></line>
    </g>
  </defs>
  <g transform="translate(50 50)" font-family="tahoma" dominant-baseline="middle" text-anchor="middle" font-size="6">
    <!-- housing -->
    <circle r="48" fill="url(#farenheit-dial-metalic)" filter="url(#farenheit-dial-drop-shadow)"></circle>

    <!-- face -->
    <circle r="44" fill="#ffe" fill-opacity="0.6" stroke="black" stroke-width="0.2" stroke-opacity="0.5" filter="url(#farenheit-dial-inner-shadow)"></circle>

    <!-- ticks -->
    <g>
      <g transform="rotate(-126)">
        <use href="#farenheit-dial-ticks"></use>
        <text y="-34" transform="rotate(126 0 -34)">-30</text>
      </g>
      <g transform="rotate(-112)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(-98)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(-105)" font-size="5">
        <text y="-35" transform="rotate(105 0 -35)">-15</text>
      </g>
      <g transform="rotate(-84)">
        <use href="#farenheit-dial-ticks"></use>
        <text y="-35" transform="rotate(84 0 -35)">0</text>
      </g>
      <g transform="rotate(-70)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(-56)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(-63)" font-size="5">
        <text y="-35" transform="rotate(63 0 -35)">15</text>
      </g>
      <g transform="rotate(-42)">
        <use href="#farenheit-dial-ticks"></use>
        <text y="-34" transform="rotate(42 0 -34)">30</text>
      </g>
      <g transform="rotate(-28)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(-14)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(-21)" font-size="5">
        <text y="-35" transform="rotate(21 0 -35)">45</text>
      </g>
      <g transform="rotate(0)">
        <use href="#farenheit-dial-ticks"></use>
        <text y="-34" transform="rotate(0 0 -34)">60</text>
      </g>
      <g transform="rotate(14)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(28)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(21)" font-size="5">
        <text y="-35" transform="rotate(-21 0 -35)">75</text>
      </g>
      <g transform="rotate(42)">
        <use href="#farenheit-dial-ticks"></use>
        <text y="-34" transform="rotate(-42 0 -34)">90</text>
      </g>
      <g transform="rotate(56)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(70)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(63)" font-size="5">
        <text y="-34" transform="rotate(-63 0 -34)">105</text>
      </g>
      <g transform="rotate(84)">
        <use href="#farenheit-dial-ticks"></use>
        <text y="-33" transform="rotate(-84 0 -33)">120</text>
      </g>
      <g transform="rotate(98)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(112)">
        <use href="#farenheit-dial-ticks"></use>
      </g>
      <g transform="rotate(105)" font-size="5">
        <text y="-35" transform="rotate(-105 0 -35)">135</text>
      </g>
      <g transform="rotate(126)">
        <line y1="-44" y2="-40" stroke-width=".8" stroke="black"></line>
        <text y="-34" transform="rotate(-126 0 -34)">150</text>
      </g>
    </g>

    <!-- lcd display -->
    <g transform="translate(0 14)">
      <text>Temperature</text>
      <rect y="4" x="-20" width="40" height="14" rx="3" ry="3" fill="#def" filter="url(#farenheit-dial-inner-shadow)"></rect>
      <text class="lcd" y="12" font-size="9">{{temperature|number:'1.1-1'}} &deg;F</text>
    </g>

    <!-- needle -->
    <g fill="#e00" filter="url(#farenheit-dial-drop-shadow)">
      <g class="needle" data-bind-attr.transform="rotate">
        <circle r="4"></circle>
        <path d="M-3 0 L-.4 -40 L.4 -40 L3 0"></path>
        <circle r="0.75" fill="black"></circle>
      </g>
    </g>

    <!-- crystal -->
    <circle r="53" cx="10" cy="10" fill="none" stroke="white" stroke-width="4" opacity=".5" filter="url(#farenheit-dial-glass-blur)"
      clip-path="url(#farenheit-dial-glass-clip)"></circle>
  </g>
</svg>
